@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Рабочее место секретаря ГЭК</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать!</h2>
        <p>
            Рабочее место секретаря ГЭК - это приложение, которое
            демонстрирует как использовать EF6 в ASP.NET MVC 5 web
            application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Скачайте приложение</h2>
        <p>Вы можете скачать проект.</p>
        <p><a class="btn btn-default" href="https://github.com/dodger222/WoS">Скачать &raquo;</a></p>
    </div>
</div>