@model WorkplaceOfSecretary.Models.SEB

@{
    ViewBag.Title = "Details";
}

<h2>Информация о ГЭК</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Название ГЭК:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfSEB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("К списку ГЭК", "Index", "SEB", null, new { @class = "btn btn-default btn-radius" })
    @Html.ActionLink("Редактировать", "Edit", "SEB", new { id = Model.ID }, new { @class = "btn btn-default btn-radius" })
</p>
